.delete-button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#app {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.job-list {
    list-style-type: none;
    padding: 0;
}

.job-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

    .job-card:hover {
        background-color: #f9f9f9;
    }

.job-details h2 {
    margin-top: 0;
}

.selected-job {
    text-align: center;
}

    .selected-job h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .selected-job p {
        font-size: 1.2em;
        margin: 5px 0;
    }

    .selected-job button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 8px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .selected-job button:hover {
            background-color: #0056b3;
        }