@{
    ViewData["Title"] = "Home Page";
}

<div v-if="loading" class="col col-lg-2 mx-auto text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<div v-else>
    <div v-if="loggedIn">
        <div v-if="isEmployer">

        </div>
        <div v-else>

        </div>
    </div>
</div>
